# Data Consistency Check

In [3]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [4]:
df_prods = pd.read_csv(r'C:\Users\klein\Instacart Basket Analysis\02 Data\Original Data\products.csv', index_col = False)

In [5]:
path = r'C:\Users\klein\Instacart Basket Analysis'

In [6]:
path

'C:\\Users\\klein\\Instacart Basket Analysis'

In [7]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [9]:
df_ords = pd.read_csv(r'C:\Users\klein\Instacart Basket Analysis\02 Data\Original Data\orders.csv', index_col = False)

In [10]:
path = r'C:\Users\klein\Instacart Basket Analysis'

In [11]:
path

'C:\\Users\\klein\\Instacart Basket Analysis'

In [12]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [13]:
#Importing orders_wranlged.csv from prepared data
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

In [14]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [15]:
#checking for mixed data type
df_test = pd.DataFrame()

In [16]:
df_test['mix'] = ['a', 'b', '1', True]

In [17]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [20]:
#functions for checking whether a dataframe contains any mixed-type columns
for col in df_prods.columns.tolist():
    weird = (df_prods[[col]].applymap(type) != df_prods[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_prods[weird]) > 0:
        print(col +'has mixed-type data')
    else: print (col + 'data type is uniform')

product_iddata type is uniform
product_namehas mixed-type data
aisle_iddata type is uniform
department_iddata type is uniform
pricesdata type is uniform

In [21]:
#change to string
df_prods['product_name'].astype('string')

0                               Chocolate Sandwich Cookies
1                                         All-Seasons Salt
2                     Robust Golden Unsweetened Oolong Tea
3        Smart Ones Classic Favorites Mini Rigatoni Wit...
4                                Green Chile Anytime Sauce
                               ...
49688            Vodka, Triple Distilled, Twist of Vanilla
49689                   En Croute Roast Hazelnut Cranberry
49690                                     Artisan Baguette
49691           Smartblend Healthy Metabolism Dry Cat Food
49692                               Fresh Foaming Cleanser
Name: product_name, Length: 49693, dtype: string

In [22]:
#check the data type
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49693 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49693 non-null  int64
 1   product_name   49677 non-null  object
 2   aisle_id       49693 non-null  int64
 3   department_id  49693 non-null  int64
 4   prices         49693 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

In [23]:
#fining missing values
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [24]:
#creating a subset with the missing values
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [25]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [26]:
#cleaning the missing values
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [27]:
df_prods_clean.isnull().sum()

product_id       0
product_name     0
aisle_id         0
department_id    0
prices           0
dtype: int64

In [28]:
#dataframe for duplicate entry
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [29]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [30]:
df_dups.shape

(5, 5)

In [31]:
df_prods_clean_no_dup = df_prods_clean.drop_duplicates()

In [32]:
df_prods_clean_no_dup.shape

(49672, 5)

In [35]:
df_prods_clean_no_dup.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

In [36]:
#Run the df.describe() function on your df_prods dataframe. Using your new knowledge about how to interpret the output of this function, share in a markdown cell whether anything about the data looks off or should be investigated further."
df_prods_checked = df_prods_clean_no_dup

In [37]:
df_prods_checked.describe()

         product_id      aisle_id  department_id        prices
count  49672.000000  49672.000000   49672.000000  49672.000000
mean   24850.349775     67.762442      11.728942      9.993282
std    14340.705287     38.315784       5.850779    453.615536
min        1.000000      1.000000       1.000000      1.000000
25%    12432.750000     35.000000       7.000000      4.100000
50%    24850.500000     69.000000      13.000000      7.100000
75%    37268.250000    100.000000      17.000000     11.100000
max    49688.000000    134.000000      21.000000  99999.000000

In [38]:
#looking at the max value from the price column which is 99999, we can see is a high numeric value. this value needs to be checked to know if it's actually correct or an error."

In [39]:
#3 Check for mixed-type data in your df_ords dataframe.
for col in df_ords.columns.tolist():
    weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_ords[weird]) > 0:
        print(col +'has mixed-type data')
    else: print (col + 'data type is uniform')

Unnamed: 0data type is uniform
order_iddata type is uniform
user_iddata type is uniform
eval_setdata type is uniform
order_numberdata type is uniform
orders_day_of_weekdata type is uniform
order_hour_of_daydata type is uniform
days_since_prior_orderdata type is uniform

In [40]:
#No mixed-typed data in the dataframe

In [42]:
#4.If you find mixed-type data, fix it. The column in question should contain observations of a single data type
#There are no mixed data Type

In [43]:
#5.Run a check for missing values in your df_ords dataframe
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
eval_set                       0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [44]:
#There are 206209 missing values from the 'days_since_prior_order' column.
#looking at the output we can see the days_since_prior_order has a lot of missing values this could be as a result of customers orders not accounted or been recorded due to previous orders without subscriptions which could be probably their first order

In [46]:
#6.Address the missing values using an appropriate method
df_ords_clean = df_ords

In [ ]:
#My hypothesis is that the NaN values are entries for the very first order of a new costumer
#if it is so as predicted, the NaN values will be present only when the order_number is 1, and __all__ order_number =1 will have a NaN value on the days_since_prior_order.

In [47]:
df_ords_clean ['first_order'] = df_ords['days_since_prior_order'].isnull() == True

In [48]:
df_ords_clean ['first_order']

0           True
1          False
2          False
3          False
4          False
           ...
3421078    False
3421079    False
3421080    False
3421081    False
3421082    False
Name: first_order, Length: 3421083, dtype: bool

In [ ]:
#Solution, since information are gotten from the data so there isn't need of removing the data, by so doing we need to Create a new variable that acts like a flag based on the missing value. new column can also be created to indicate these values to see what it entails which explain the similarity of the days_since_prior_order."

In [49]:
df_ords_clean.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,0,2539329,1,prior,1,2,8,NaN,True
1,1,2398795,1,prior,2,3,7,15.0,False
2,2,473747,1,prior,3,3,12,21.0,False
3,3,2254736,1,prior,4,4,7,29.0,False
4,4,431534,1,prior,5,4,15,28.0,False

In [55]:
#creating another method to flag NAN
df_ords['first_order'] = np.where(np.isnan(df_ords['days_since_prior_order'].values), True, False)

In [56]:
df_ords['first_order']

0           True
1          False
2          False
3          False
4          False
           ...
3421078    False
3421079    False
3421080    False
3421081    False
3421082    False
Name: first_order, Length: 3421083, dtype: bool

In [50]:
# 7, Run a check for duplicate values in your df_ords data
df_ords_dups = df_ords_clean[df_ords_clean.duplicated()]

In [52]:
#check duplicate
df_ords_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, eval_set, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order, first_order]
Index: []

In [53]:
# checking the duplicate, i got nothing as an output

In [54]:
# 8, Address the duplicates using an appropriate method
# in a markdown cell, explain why you used your method of choice
df_ords_dups.shape

(0, 9)

In [57]:
#Export your final cleaned df_prods and df_ords
df_prods_clean_no_dup.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checkednew.csv'))

In [58]:
df_ords_clean.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_cleanednew.csv'))