#Data Wrangling

In [1]:
# 01 Import Libraries

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
df_ords = pd.read_csv(r'C:\Users\klein\Instacart Basket Analysis\02 Data\Original Data\orders.csv', index_col = False)

In [4]:
path = r'C:\Users\klein\Instacart Basket Analysis'

In [5]:
path

'C:\\Users\\klein\\Instacart Basket Analysis'

In [6]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [7]:
df_prods = pd.read_csv(r'C:\Users\klein\Instacart Basket Analysis\02 Data\Original Data\products.csv', index_col = False)

In [8]:
path = r'C:\Users\klein\Instacart Basket Analysis'

In [9]:
path

'C:\\Users\\klein\\Instacart Basket Analysis'

In [10]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [11]:
#Data Wrangling procedure

In [12]:
df_ords = df_ords.drop(columns = ['eval_set'])

In [13]:
df_ords

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

#counting Nan Values in the "days_since_prior_order" columns

In [14]:
df_ords['days_since_prior_order'].value_counts(dropna = False)

30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: days_since_prior_order, dtype: int64

In [15]:
#Rename the "order dow" colum into "orders day of week"

In [16]:
df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [17]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [18]:
#changing the data type of the order_column

In [19]:
df_ords['order_id'] = df_ords['order_id'].astype('str')

In [21]:
df_ords['order_id'].dtype

dtype('O')

In [22]:
df_dep = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'deparments.csv'), index_col = False)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\klein\\Instacart Basket Analysis\\02 Data\\Original Data\\deparments.csv'

In [1]:
df_dep = pd.read_csv(r'C:\Users\klein\Instacart Basket Analysis\02 Data\Original Data\departments.csv', index_col = False)

NameError: name 'pd' is not defined