# Combining and Data Exporting

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# 3, In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.
df_orders_products_combined = pd.read_pickle(r'C:\Users\klein\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combined.pkl')

In [3]:
# 4, Check the shape of the imported dataframe (it should be the same as the one you exported—always check!)
df_orders_products_combined.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,True,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,True,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,True,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,True,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,True,26405,5,0,both

In [4]:
df_orders_products_combined.shape

(32434489, 14)

In [5]:
df_prods = pd.read_csv(r'C:\Users\klein\Instacart Basket Analysis\02 Data\Prepared Data\products_checkednew.csv', index_col = False)

In [6]:
path = r'C:\Users\klein\Instacart Basket Analysis'

In [7]:
path

'C:\\Users\\klein\\Instacart Basket Analysis'

In [8]:
# 5, Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checkednew.csv'), index_col = False)

In [9]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
df_prods.shape

(49672, 6)

In [11]:
#unnecessary column was removed
df_prods = df_prods.drop(columns = ['Unnamed: 0',])

In [12]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [13]:
df_orders_products_combined_1 = df_orders_products_combined.drop(columns = ['_merge','Unnamed: 0'])

In [14]:
orders_products_merged = df_orders_products_combined_1.merge(df_prods, on = ['product_id'], how = 'inner',indicator = True)

In [15]:
orders_products_merged.head()

,Unnamed: 0.1,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,0,2539329,1,prior,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both
1,1,2398795,1,prior,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both
2,2,473747,1,prior,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both
3,3,2254736,1,prior,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both
4,4,431534,1,prior,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both

In [16]:
#confirm the results of the merge using the merge flag
orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [17]:
orders_products_merged = df_orders_products_combined_1.merge(df_prods, on = ['product_id'], how = 'inner',indicator = True)

In [18]:
orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [19]:
orders_products_merged.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.csv'))

In [20]:
orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))